/*#content-main>form>table#datos{
	width: 50%;
	float: left;
}
#content-main>form>table#contacto{
	width: 50%;
	float: right;
}

#content-main>form>table#bancaria{
	width: 50%;
	float: left;
}

#content-main>form>table#otros{
	width: 50%;
	float: right;
}

#content-main>form>table textarea{
	width: 100%;
	height: 107px;
	font-size: 17px;
}*/
