{%extends 'base_site.html'%}  
% load i18n admin_static %}
{% block extrastyle %}
  {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'contabilidad' %}">Contabilidad</a> > 
                  <li><a href="{%url 'ver-impuestos'%}">Ver impuesto</a></li> > 
                  <li>Agregar Impuestos</li>
                   
                    </li>
                </ul>
   {% endblock %}
{%block content%}
<h2 style="color:red;">{{info}}</h2>
<h2>Agregar Impuesto</h2> <hr>
<form action="." method="POST" enctype="multipart/form-data">

{%csrf_token%}


	<h2>Enter Detail</h2>
	<label for="InputEmail" class="sr-only">Email address</label>
	<input type="email" id="inputEmail" class="form-control" placeholder="Email     addres" required autofocus>
	
	<label for="inputPassword" class="sr-only">Password</label>
	<input type="password" id="inputPassword" class="form-control" placeholder="Password" required >
	
	<button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">sign in</button>
</form>


{%endblock%}
{%block sidebar%}

	<div class="botones" id="content-related">
	  <div class="module" id="recent-actions-module">
		<input type="submit" class="submit-row" name="guardar" form="variedad" value="Guardar">
		<button class="guardar" name="guardar-edit">Guardar y continuar editando</button>
		<button class="guardar" name="guardar-add">Guardar y añadir otro</button>

		</div>
	</div>
{%endblock%}