
{%extends 'base_site.html'%}
{% load staticfiles widget_tweaks %}
{% load humanize %}
 {% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'agregado-nuevo' %}">inicio</a> >  
                  <li><a href="{%url 'ver-recepcion' %}">recepcion</a></li>
                   
                    </li>
                </ul>
   {% endblock %}
{%block content%}
<p><a href="{%url 'edit-recepcion' recepcion.pk%} ">Editar Recepcion</a></p>
<nav>
	<a href="{%url 'factura-recepcion-pdf' recepcion.pk%}" class="btn">Generar PDF</a>
</nav>

<!-- Encabesado -->
<h1>Factura N°: {{recepcion.codigo_en_sistema}} --{{cuenta}} ---</h1>
  <hr>
  {{total}}
  <hr>
<img src="/media/{{get_DatosDeLaEmpresa.LOGO}}"" width="500" height="300" alt="">

<h2>Pagado: {%if pago.p%}CANSELADO{%else%}SIN CANCELAR%}{%endif%}</h2>
<h1 style="margin:0px;">		<center>SENIAT</center>	</h1>	<br>
<h1 style="margin:0px;"">		<center>{{get_DatosDeLaEmpresa.NOMBRE|upper}}</center>	</h1>	<br>
<h4><center>RIF:{{get_DatosDeLaEmpresa.RIF|upper}}</center> </h4>
<h4><center>{{get_DatosDeLaEmpresa.DIRECCION|upper}}</center></h4>
<h4><center>TELEFONOS:{{get_DatosDeLaEmpresa.TELEFONO|upper}} / {{get_DatosDeLaEmpresa.CELULAR|upper}}</center></h4>
<h4><center> ZONA POSTAL: {{get_DatosDeLaEmpresa.CODIGO_POSTAL|upper}}</center> </h4>
<br>
FECHA DE EMICION: {{recepcion.fecha_agregado|date:'m/d/y - h:m'}}
<hr>
<p>DATOS DEL PROOVEDOR: </p>

NOMBRE O RAZON SOCIAL: {{recepcion.proovedor.nombre_o_razon_social|upper}} 
RIf : {{recepcion.proovedor.documentoId|upper}}
<br>
DOMICILIO : {{recepcion.proovedor.domiciloo_fiscal|upper}}
TELEFONOS : {{recepcion.proovedor.telefono}}/{{recepcion.proovedor.celular}}
<br>
CODIGO: {{recepcion.proovedor.codigo_en_sistema}}
ZONA: {{recepcion.zona_de_cosecha.zona|upper}}

<hr>
<br>
RECEPCION:
<table class="table table-striped col-md-6">
<thead>
			<tr>
				<td>RUBRO</td>
				<td>CICLO</td>
				<td>CANTIDAD</td>
				<td>DESCUENTO H/I</td>
				<td>CANTIDAD REAL</td>
				<td>PRECIO</td>
				<td>PRECIO NETO</td>

			</tr>
	
		</thead>

		<tbody>

					<tr>
						<td><a href="{{lista.get_absolute_url}}">{{recepcion.producto.nombre|upper}}({{recepcion.variedad.nombre|upper}}-{{recepcion.tipo.nombre|upper}}) </a> </td>
						<td>{{recepcion.ciclo_asociado.nombre|title}}</td>
						<td>{{recepcion.cantidad_en_Kg|floatformat:3}} kg. </td>
						<td>{{total_pago.descuentoTotal|floatformat:2}}%</td>
						<td>{{total_pago.cantidad_real|floatformat:2}} Kg.</td>
						<td>{{pago.precio.precio_por_Kg|floatformat:2}}Bs.</td>
						<td>{{total_pago.total_neto|floatformat:2}} Bs. </td>
					<td>
				</tr>
				<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					<td>
				</tr>
				{%for i, k in total_pago.impuestos.items%}
				<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>{{i}}</td>
						<td>{{k|floatformat:2}} Bs. </td>
					<td>
				</tr>
				{%endfor%}
			
			<tr>
				
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>TOTAL </td>
				<td>{{total_pago.total_Bs|floatformat:2}}Bs.</td>

				
			</tr>
		</tbody>
	</table>

<h1>{{dic|length}}</h1>
<p style="font-size:16><span for="fllegada">FECHA DE RECEPCION: </span><i>{{recepcion.fecha_llegada|date:'d/y/m - h:m'}}</p></p></i> <br>
<p class="texto" style="font-family:bold;"><label for=""><b>DESCUENTO POR IMPURESA: {{total_pago.descuentoI|floatformat:2}}%</b></label></p>
<p class="texto" style="font-family:bold;"><label for=""><b>MERMA POR HUMEDAD: {{total_pago.descuentoH|floatformat:2}}%</b></label></p>
<p class="texto" style="font-family:bold;"><label for=""><b>DESCUENTO POR MANIPULEO: {{total_pago.descuentoM|floatformat:2}}</b>%</label></p>


<h2>DETALLES DE ANALISIS</h2>
------------------------------------------------------------
<p class="texto text-success" style="font-size:100; ">{{recepcion.producto.nombre|title}} {{recepcion.variedad.nombre|title}} </p>
<p class="texto">Humedad: {{recepcion.humedad}}</p>
<p class="texto" >Impuresa: {{recepcion.impureza}}</p>
<p class="texto">Granos Danados: {{recepcion.granos_danados_totales}}</p>
<p class="texto">TEMPERATURA PROMEDIO:
{{recepcion.temperatura_promedio}}
</p>
<p class="texto">Otros: {{recepcion.otros}}</p>

<hr>
<a href="/generar_pdf/{{recepcion.pk}}">Ver en pdf</a>
<style>
	.texto{
		font-size: 20px;
		margin: 2px;
		font-family: verdana;
	}
</style>
<br>
<hr>
<span>Los calculos son mostrados tomando un calculo de dos decimales, por tal razon los niveles totales pueden variar</span>
{%endblock%}
{%block delete%}
{%endblock%}