{% extends "base_site.html" %}
{% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'agregado-nuevo' %}">Inicio</a> > 
                  <li><a href="{%url 'ver-ciclos'%}">Ver Ciclos</a></li> > 
                  <li>Editar Ciclos</li>
                   
                    </li>
                </ul>
   {% endblock %}
{% block content %}
	<h1>{{form}}</h1>

	<h3>Invercion Del Ciclo</h3>
	<p>total invertido = {{invercion_total}} Bs.</p>
	<p>Deuda: {{deuda}}</p>
	<h4>Rubros: </h4>
	{% for rubro in lista_rubror %}
		<p><a href="#">{{rubro.nombre}}</a></p>
		
	{% endfor %}
	<h3>Ingresos del Ciclo</h3>
	<p>Total Ingresado= {{ingreso_total}} Bs.</p>
	<p>Por cobrar = {{cobro}}</p>

	<h3>Ganancias</h3>
	Ganancia Neta= {{ganancia_neta}}

{% endblock content %}