{{%extends 'base_site.html'%}  
{% block extrastyle %}
  {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'agregado-nuevo' %}" class="btn btn-default">Inicio</ > 
                  <li><a href="{%url 'ver-plantas'%}" class="btn btn-default">Ver Planta</a></li> 
                  <li>Agregar Planta</li>
                   
                    </li>
                </ul>
   {% endblock %}
{%block content%}
<h2 style="color:red;">{{info}}</h2>
<h2>Agregar Plantas</h2> <hr>

<form action="." method="POST">

{%csrf_token%}


	<div id="formulario" >
		<div class="campos" >
			{{form.nombre.errors}}
		<label>{{form.nombre.label}}</label>{{form.nombre}}
		</div>

		<div class="campos" >
			<label >{{form.cantidad_silos.errors}}</label>
		<label >{{form.cantidad_silos.label}}</label>{{form.cantidad_silos}}
		</div>
		<div class="campos" >
			<label >{{form.descripcion.errors}}</label>
			<label >{{form.descripcion.label}}</label>{{form.descripcion}}
		</div>
	</div>
<input type="submit" value='Guardar'>
</form>


{%endblock%}
{%block delete%}
{%endblock%}
{%block sidebar%}

	<div class="botones" id="content-related">
	  <div class="module" id="recent-actions-module">
		<input type="submit" class="submit-row" name="guardar" form="variedad" value="Guardar">
		<button class="guardar" name="guardar-edit">Guardar y continuar editando</button>
		<button class="guardar" name="guardar-add">Guardar y añadir otro</button>

		</div>
	</div>
{%endblock%}