
{%extends 'base_site.html'%}
{% load staticfiles widget_tweaks %}
 {% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'agregado-nuevo' %}">inicio</a> >  
                  <li><a href="{%url 'ver-recepcion'%}">recepcion</a></li>
                   
                    </li>
                </ul>
   {% endblock %}
{%block content%}

<h3>	<a href="{%url 'add-despacho'%}">Añadir Despacho +</a></h3>

</nav>

<h2>Cuentas por Cobra Despacho</h2> <hr>
<nav>
<ul class="breadcrumb">
	{%for i in date_list%}
	<li><a href="{%url 'recepciones_mensuales' i.year i|date:'m'%}">{{i|date:"F"}}</a></li>
	{%endfor%}
</nav>
<hr>
<table class="table table-striped col-md-6">

		<thead>
			<tr><td> <input type="checkbox" id="action-toggle" form="select-despacho"></td>
				<td>DESPACHO</td>
				<td>DEUDA</td>
				<td>ABONO</td>
				<td>SALDO DEUDOR</td>
				<td>FECHA GENERADO</td>
				<td>FECHA DE VENCIMIENTO</td>

			</tr>
	
		</thead>
		<tbody>
		{%for lista in form%}
			{%if lista.pagado%}
			{%else%}
			<tr>
			<td><input type="checkbox" class="action-select" name="seleccion" form="select-despacho" value="{{lista.pk}}">
					<td><a href="{{lista.get_absolute_url}}">{{lista.despacho}}</a></td>
					<td>{{lista.deuda}} Bs. </td>
					
					<td>{{lista.abono}} Bs</td>
					
					<td>{{lista.saldo_deudor}} Bs.</td>

					<td>{{lista.fecha_agregado}} </td>
					<td>{{lista.fecha_vencimiento}}</td>
			</tr>
		{%endif%}
		{%endfor%}
		</tbody>
	</table>
{%endblock%}
<div class="pagination">
		   	
			<ul class="step-links">
				{% if form.has_previous %}
				          <li>
				          	  <a href="?page={{ forms.previous_page_number }}" class="anterior">Anterior</a>
				          </li>
				{% endif %}

				{% for i in lista  %}
					<a href="?page={{i}}" class="num btn btn-default">{{i}}</a></span>
					
				{% endfor %}
				<li>
					<span class="current">
					           Pagina {{ form.number }} de {{ form.paginator.num_pages }}.
					</span>
				</li>
				
				{% if form.has_next %}
				      <li>
				      	<a href="?page={{ forms.next_page_number }}" class="siguiente">siguiente</a>
				      </li>
				{% endif %}
			</ul>
		</div>

{%block delete%}
<form action="." method="POST" id="select-despacho">  {%csrf_token%}
	<select name="lista-pdf" id="lista-pdf" form="select-despacho">
	<option value="selected"> ----------</option>
		<option value="lista-selected">Guardar Lista</option>
	</select>
	<input type="submit" value="Guardar" form="select-despacho">
</form>
{%endblock%}