{% extends "base_site.html" %}
{% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'agregado-nuevo' %}">Inicio</a> > 
                  <li><a href="{% url 'ver-nomina' %}">Nomina</a> > 
                  <li><a href="{% url 'ver-empleado' %}">Empleados</a> > 
                 
                  <li>Editar Empleado</li>
                   
                    </li>
                </ul>
   {% endblock %}
{% block content %}
<form action="" method="POST">
{% csrf_token %}
	{{form.as_p}}

	<input type="submit" value="Guardar">
</form>
{% endblock content %}