*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.suit-columns{
	overflow: hidden;
	padding-right: 0px;
}

#suit-center{
	padding: 0px;
	width: 100%;
	
}

#suit-left{
	right: 200px;
	
}

#suit-left input[type="text"]{
	height: 30px;
	width: 90%;
	padding-right: 22px;	
}

.migas{
	/*padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;  */ 
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	overflow: hidden;
	margin-bottom: 5px;
	margin-top: 5px;
}

.migas > .breadcrumb{
	background-color: #fff;
	margin-bottom:0px; 
	border-radius: 0px;
	padding: 5px 14px;
}

.migas > .breadcrumb >li{
	margin-right: 10px;
	margin-top: 5px;
	font-size: 12px;
}

#content{
	width: 100%;
	padding: 10px;
}


#content-main{
	width: 79%;
	min-height: 460px;
	float: left;
	background-color: #fff;
	padding: 20px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	margin-left: 0px;
}


#content-related{
	width: 20%;
	float: right;
	background-color: #fff;
	padding: 10px;
	box-shadow: 1px 1px 5px  rgba(0,0,0,0.2);
	padding-top:35px; 
}

/*
#content-main{
	width: 79%;
	min-height: 400px;
	float: right;
	background-color: #fff;
	padding: 20px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	margin-left: 0px;
}

#content-related{
	width: 20%;
	float: left;
	background-color: #fff;
	padding: 10px;
	box-shadow: 1px 1px 5px  rgba(0,0,0,0.2);
	padding-top:35px; 
}*/


#menu{
	background-color: #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	overflow: hidden;
	height: 45px;
}
#menu>ul{
	text-align:center;
	padding: 0px;
	height: 100%;
	overflow: hidden;
	margin-left: 0px;	
}
#menu>ul>li{
	list-style: none;
	float: left;
	position: relative;
}

#menu>ul>li>span{
	position: absolute;
	height: 3px;
	width: 100%;
	background-color: #2B5A80;
	bottom: 0px;
	border-left: 2px solid rgba(0,0,0,0.1);
	border-right:2px solid rgba(0,0,0,0.1);  
	left: 0px;

	-webkit-transition: bottom 0.2s;
	-o-transition: bottom 0.2s;
	transition: bottom 0.2s;
}

#menu>ul>li:hover > span{
	bottom: 3px;
}

#menu>ul>li>a{
	display: block;
	border-right: 1px solid rgba(0,0,0,0.1);
	padding: 14px 20px;
	font-size: 14px;
	text-decoration: none;
}
#menu>ul>li:first-child{
	border-left: 1px solid rgba(0,0,0,0.1);
}

#menu>ul>li>a>span{
	margin-right: 10px;
	font-size: 18px;
}

#content-main>form>div input[type="text"],input[type="email"],input[type="password"]{
	width: 100%;
	height: 30px;
}


/*Estilos Formularios*/

#content-main>form{
	width: 100%;
	overflow: hidden;
}

#content-main>form>table{
	width: 100%; 

}



/*#content-main>form>table:nth-child(even){
	width: 50%;
	float: left;
}

#content-main>form>table:nth-child(odd){
	width: 50%;
	float: right;
}
*/


#content-main>nav{
	height: 35px;
	margin-bottom: 7px;
	border-bottom:2px solid rgba(0,0,0,0.1); 
}

#content-main>nav>ul{
	overflow: hidden;
	margin: 0px 0px 10px 0px;
	height: 100%;

}

#content-main>nav>ul>li{
	list-style: none;
	float: left;
	margin-right:5px;
}
#content-main>nav>ul>li.right{
	float: right;
}

#content-main>nav>ul>li>a{
	display: block;
	padding: 7px;
	color:#fff;
	text-decoration: none;
	font-size: 11px;
	
	background: -webkit-linear-gradient(top,#449CCB,#3A769D);
	background: -moz-linear-gradient(top,#449CCB,#3A769D);
	background-color: linear-gradient(top,#449CCB,#3A769D);

	border-right:1px solid rgba(255,255,255,0.4);
	border-radius: 4px;

	-webkit-transition: background 0.6s;
	-o-transition: background 0.6s;
	transition: background 0.6s;
}

#content-main>nav>ul>li>form{
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
	height: 35px;
	
}
#content-main>nav>ul>li>form>input{
	margin: 0px;
}




#content-main>nav>ul>li>a:hover{
	background: -webkit-linear-gradient(top,#3A769D,#3A769D);
}

#content-main>nav>ul>li>a>span{
	margin-right: 5px;
}


#content-main>form>table{
	background-color: rgba(0,0,0,0.1); 
}


#content-main>form>table input[type="text"],input[type="number"],input[type="date"],select{
	width: 100%;
	height: 32px;
	border-radius:0px;
	font-size: 16px;
	border-radius:5px; 
}

#content-main>form>table textarea{
	width: 100%;
	height: 107px;
	border-radius:0px;
	font-size: 16px;
}

#content-main>form>table td{
	width: 50%;
	padding: 0px 15px;
}

#content-main>form>table>tr>td:first-child{
	padding-top: 10px;
}

#content-main>form>table>thead{
	background-color: rgba(0,0,0,0.1);
}

#content-main>form>table>thead td{
	padding: 5px 10px;
	text-align: center;
	font-size:15px;
	color:#434343;
}

#content-main>form>table label{
	font-size: 14px;
	color:#2A688D;
	font-weight: bold;
}

#content-main>form>table .subTitulo{
	background-color: rgba(0,0,0,0.1);
}

#content-main>form>.botonera{
	padding-top: 5px;
}

#content-main>form>.botonera>input[type="submit"]{
	margin-top: 5px;
	background-color: #1571A2;
	border:0px;
	padding: 7px 20px;
	color:#fff;
}

/*Estilos Botones de Edicion*/


#content-related>.botonera{
	margin: 10px;
}

#content-related>.botonera>li{
	list-style: none;
}

#content-related>.botonera>li>input[type="submit"],button{
	width: 100%;
	height: 50px;
	font-size: 15px;
	color:#3869AE;
	text-shadow: 1px 1px rgba(0,0,0,0.1);
	margin-bottom: 10px; 
}

/*Estilos para los listados*/

#content-main>.listado{
	min-height: 300px;
}

#content-main>.listado>nav{
	height: 35px;
	margin-bottom: 7px;
}

#content-main>.listado>nav>ul{
	overflow: hidden;
	margin: 0px 0px 10px 0px;
	height: 100%;

}

#content-main>.listado>nav>ul>li{
	list-style: none;
	float: left;
	margin-right:5px;
}
#content-main>.listado>nav>ul>li.right{
	float: right;
}

#content-main>.listado>nav>ul>li>a{
	display: block;
	padding: 7px;
	color:#fff;
	text-decoration: none;
	font-size: 11px;
	
	background: -webkit-linear-gradient(top,#449CCB,#3A769D);
	background: -moz-linear-gradient(top,#449CCB,#3A769D);
	background-color: linear-gradient(top,#449CCB,#3A769D);

	border-right:1px solid rgba(255,255,255,0.4);
	border-radius: 4px;

	-webkit-transition: background 0.6s;
	-o-transition: background 0.6s;
	transition: background 0.6s;
}

#content-main>.listado>nav>ul>li>form{
	margin: 0px;
	margin-top: 5px;
	padding: 0px;
	height: 35px;
	
}
#content-main>.listado>nav>ul>li>form>input{
	margin: 0px;
}




#content-main>.listado>nav>ul>li>a:hover{
	background: -webkit-linear-gradient(top,#3A769D,#3A769D);
}

#content-main>.listado>nav>ul>li>a>span{
	margin-right: 5px;
}

#content-main>section{
	width: 100%;
}


#content-main>.listado>section>table{
	width: 100%;
	border:1px solid rgba(0,0,0,0.1);
	margin-bottom: 0px;
}
#content-main>.listado>section>table td{
	padding: 7px 15px;
}

#content-main>.listado>section>table thead{
	background-color: #B8CDDC;
	color:#1C547A;
	font-size: 13.5px;
	font-weight: bold;
}


#content-main>.listado>section>table>tbody td{
	padding: 6px 0px 6px 15px;
	font-size: 15px;

	border-bottom:1px solid rgba(0,0,0,0.1);
}

#content-main>.listado>section>table>tbody td>a{
	text-decoration: none;
}
#content-main>.listado>section>table>tbody tr:nth-child(odd){
	background-color: #F6F6F6;
}

#content-main>.listado>section>table>tbody .img_wrapper{
	width: 70px;
	height: 50px;
	border: 1px solid rgba(0,0,0,0.1);
}

#content-main>.listado>section>table>tbody .img_wrapper>img{
	width: 100%;
	height: 100%;
}


#content-main>.listado>section>div.tools{
	width:100%;
	border-top:1px solid rgba(0,0,0,0.1);
	padding:20px 10px 10px 10px;
	overflow:hidden;
	border: 1px solid rgba(0,0,0,0.1);
}

#content-main>.listado>section>div.tools>form{
	float:left;
	width:40%;
	height:35px;
	overflow:hidden;
}

#content-main>.listado>section>div.tools>form>select{
	width:220px;
	float:left;
}

#content-main>.listado>section>div.tools>form>input[type="submit"]{
	width:90px;
	height: 28px;
	margin-top:2px;
	float:left;
	margin-left:5px; 
}

#content-main>.listado>section>div.tools>.pagination{
	float:right;
	width:50%;
}

#content-main>.listado>section>div.tools>.pagination>ul{
	float:right;
}

#content-main>.listado>section>div.tools>.pagination span{
	margin-right:5px;
}



#content-related>.listado>nav{
	margin-bottom:10px;
}

#content-related>.listado>nav>ul{
	margin-left: 5px;

}

#content-related>.listado>nav>ul>li{
	list-style: none;
	margin-bottom:5px; 
}

#content-related>.listado>nav>ul>li>a{
	display: block;
	padding: 7px 0px;
	text-decoration: none;
	font-size: 15px;
	

	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

#content-related>.listado>nav>ul>li:hover a{
	padding-left:10px;
	background-color: #CFE5F2;

}


/*Estilos Factura*/
#content-main>.factura{
	border:4px solid rgba(0,0,0,0.1);
	padding: 7px;
}

#content-main>.factura>.head{
	width: 100%;
	overflow: hidden;
	padding: 10px;
	border-bottom:1px solid #b3b3b3; 
}

#content-main>.factura>.head>.img_wrapper{
	width: 33%;
	height: 100px;
	float: left;
}

#content-main>.factura>.head>.img_wrapper>img{
	width: 100%;
	height: 100%;
}

#content-main>.factura>.head>.info-empresa{
	float: left;
	width: 33%;
	text-align: justify;
	padding-top: 10px; 
	padding-left: 50px;
}

#content-main>.factura>.head>.info-empresa>table{
	border-left: 1px solid rgba(0,0,0,0.1);
	width: 100%;

}

#content-main>.factura>.head>.info-empresa>table>thead td{
	font-size: 15px;
	padding-left: 70px;
	padding-bottom: 5px;
}
#content-main>.factura>.head>.info-empresa>table>tbody td{
	padding-left: 10px;
}

#content-main>.factura>.head>.detalle{
	float: left;
	width: 33%;
}

#content-main>.factura>.head>.detalle>table{
	border: 1px solid #b3b3b3;
	width: 70%;
	margin-top: 10px;
	margin-left: 40px;
}

#content-main>.factura>.head>.detalle>table thead{
	background-color: rgba(0,0,0,0.1); 
}
#content-main>.factura>.head>.detalle>table thead>tr>td{
	padding: 2px;
	text-align:center;
	font-size: 15px;

}

#content-main>.factura>.head>.detalle>table tbody>tr>td{
	text-align: center;
	padding: 6px;
	font-size: 20px;
}

#content-main>.factura>.body{
	padding: 10px;
}

#content-main>.factura>.body>.tabla-cliente{
	border: 1px solid rgba(0,0,0,0.1);
	width: 100%;
	margin-bottom: 10px;
	float: left;
}

#content-main>.factura>.body>.tabla-cliente>thead{
	background: rgba(0,0,0,0.1);
}

#content-main>.factura>.body>.tabla-cliente>tbody td{
	padding-left: 7px;
	border: 1px solid rgba(0,0,0,0.1)	
}

#content-main>.factura>.foot{
	overflow: hidden;
}

#content-main>.factura>.foot>.tabla-descuentos{
	width: 49%;
	float: right;
}
#content-main>.factura>.foot>.tabla-descuentos>thead {
	background-color: rgba(0,0,0,0.1);
	text-align: center;
}
#content-main>.factura>.foot>.tabla-descuentos>thead td{
	padding: 5px;
}

#content-main>.factura>.foot>.tabla-descuentos>tbody td{
	padding-left: 20px;
	border: 1px solid rgba(0,0,0,0.1);
}






#content-main>.factura>.foot>.tabla-analisis{
	float: left;
	width: 50%;
}
#content-main>.factura>.foot>.tabla-analisis>thead {
	background-color: rgba(0,0,0,0.1);
	text-align: center;
}
#content-main>.factura>.foot>.tabla-analisis>thead td{
	padding: 5px;
}

#content-main>.factura>.foot>.tabla-analisis>tbody td{
	padding-left: 20px;
	border: 1px solid rgba(0,0,0,0.1);
}




/*Estilos Globales*/

.my-btn{
	margin-top: 20px;
	background-color: #1571A2;
	border:0px;
	padding: 7px 20px;
	color:#fff;
}

.subTitulo{
	font-size: 14px;
	color:#32507F;
	margin: 0px;
	padding: 10px 10px 5px 10px;
	margin-bottom:10px;
	border-bottom: 1px solid #55A1E1;
	font-family: titulo;
	font-weight: lighter;
}

.titulo{
	font-size: 20px;
	margin: 0px;
	padding: 10px;
	margin-bottom:10px;
	border-bottom: 3px solid #55A1E1;
	font-family: verdana;
	font-weight: lighter;
}

.label-check-down{
	background-color: rgba(0,0,0,0.2);
	padding: 6px;
	color:#FFFFFF;
    text-align: center;
    margin-top: 15px;
}

.label-check-up{
	margin-top: 10px;
	background-color: rgba(0,0,0,0.2);
	padding: 6px;
	color:#fff;
    text-align: center;
}

.label-check-up>input[type="checkbox"]{
	margin-top: -1px;
	width: 25px;
	height: 13px;
}

.label-check-down>input[type="checkbox"]{
	margin-top: -1px;
	width: 25px;
	height: 13px;
}

label[class^="label-check-"]:hover{
	background-color:rgba(0,0,0,0.3);
}




