section{
	width: 74%;
	float: left;
	border-right: 1px solid rgba(0,0,0,0.1);
}

aside{
	width: 26%;
	float: right;
}

@media (max-width:1024px){
	section{
		width: 70%;
	}
	aside{
		width: 30%;

	}
}