{%extends 'base_site.html'%}
% load i18n admin_static %}
{% load staticfiles widget_tweaks %}

{% block extrastyle %}
{{ block.super }}


{% endblock %}

{% block buscador %}{% endblock %}

{% block breadcrumbs %}
    <div class="migas">
    	<ul class="breadcrumb">
    	  	<li><a href="{% url 'agregado-nuevo' %}">Inicio</a> > </li>
    	  	<li><a href="{%url 'ver-productor'%}">Productores</a> > </li>
    	  	<li>Añadir Productor</li>
    	</ul>
    </div>
{% endblock %}

{%block content%}
	<div id="content-main"><!--
		<div class="col-md-6">
						<form method="POST">{% csrf_token %}
							<div class="row">
								{% for field in form %}
								<div class="col-md-12">
									<div class="control-group">
										<label>{{ field.label }}</label>
										{% render_field field  %}
									</div>
								</div>
								{% endfor %}
							</div>
							<input type="submit" value="Guardar!" class="btn btn-success">
					
		</div>-->
		<form action="." method="POST">
			{%csrf_token%}
		
			<!-- <div id="formulario">
				<div class="campos" >
				<label for="id_rubro">{{form.nombre_o_razon_social.errors}}</label>
				<label for="id_rubro">{{form.nombre_o_razon_social.label|upper}}</label>{{form.nombre_o_razon_social}}
				</div>
				<div class="campos" >
				<label for="id_rubro">{{form.documentoId.errors}}</label>
				<label for="id_rubro">CI/RIF</label>{{form.documentoId}}
				</div>
				<div class="campos" >
				<label for="id_rubro">{{form.domicilio_fiscal.errors}}</label>
				<label for="id_rubro">{{form.domicilio_fiscal.label|upper}}</label>{{form.domicilio_fiscal}}
				</div>
				<div class="campos" >
				<label for="id_rubro">{{form.telefono.errors}}</label>
				<label for="id_rubro">{{form.telefono.label|upper}}</label>{{form.telefono}}
				</div>
				<div class="campos" >
				<label for="id_rubro">{{form.celular.errors}}</label>
				<label for="id_rubro">{{form.celular.label|upper}}</label>{{form.celular}}
				</div>
				<div class="campos" >
				<label for="id_rubro">{{form.referencia_folder.errors}}</label>
				<label for="id_rubro">{{form.referencia_folder.label|upper}}</label>{{form.referencia_folder}}
				</div>
				<div class="campos" >
				<label for="id_rubro">{{form.cuenta_bancaria.errors}}</label>
				<label for="id_rubro">{{form.cuenta_bancaria.label|upper}}</label>{{form.cuenta_bancaria}}
				</div>
				<div class="campos" >
				<label for="id_rubro">{{form.banco.errors}}</label>
				<label for="id_rubro">{{form.banco.label|upper}}</label>{{form.banco}}
				</div>
				<div class="campos" >
				<label for="id_rubro">{{form.tipo_cuenta.errors}}</label>
				<label for="id_rubro">{{form.tipo_cuenta.label|upper}}</label>{{form.tipo_cuenta}}
				</div>
				<div class="campos" >
				<label for="id_rubro">{{form.habilitado.errors}}</label>
				<label for="id_rubro">{{form.habilitado.label|upper}}</label>{{form.habilitado}}
				</div>
				<div class="campos" >
				<label for="id_rubro">{{form.observacion.errors}}</label>
				<label for="id_rubro">{{form.observacion.label|upper}}</label>{{form.observacion}}
				</div>
			</div> -->
			<table>
				<thead>
					<tr>
						<td colspan="2"> DATOS PERSONALES </td>
					</tr>
				</thead>
				<tr>
					<td>
						<label for="">{{form.nombre_o_razon_social.label}}</label>
						{{form.nombre_o_razon_social}}
						<span>{{form.nombre_o_razon_social.errors}}</span>
					</td>
					<td>
						<label for="">{{form.documentoId.label}}</label>
						{{form.documentoId}}
						<span>{{form.documentoId.errors}}</span>
					</td>
				</tr>
			</table>

			<table style="margin-top: 15px;">
				<thead>
					<tr>
						<td colspan="2"> INFORMACIÓN DE CONTACTO </td>
					</tr>
				</thead>
				<tr>
					<td>
						<label for="">{{form.telefono.label}}</label>
						{{form.telefono}}
						<span>{{form.telefono.errors}}</span>
					</td>
					<td rowspan="2">
						<label for="">{{form.domicilio_fiscal.label}}</label>
						{{form.domicilio_fiscal}}
						<span>{{form.domicilio_fiscal.errors}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<label for="">{{form.celular.label}}</label>
						{{form.celular}}
						<span>{{form.celular.errors}}</span>
					</td>
				</tr>
			</table>

			<table style="margin-top: 15px;">
				<thead>
					<tr>
						<td colspan="3"> DATOS BANCARIOS </td>
					</tr>
				</thead>
				<tr>
					<td style="width: 33%;">
						<label for="">{{form.cuenta_bancaria.label}}</label>
						{{form.cuenta_bancaria}}
						<span>{{form.cuenta_bancaria.errors}}</span>
					</td>
					<td style="width: 33%;">
						<label for="">{{form.banco.label}}</label>
						{{form.banco}}
						<span>{{form.banco.errors}}</span>
					</td>
					<td style="width: 33%;">
						<label for="">{{form.tipo_cuenta.label}}</label>
						{{form.tipo_cuenta}}
						<span>{{form.tipo_cuenta.errors}}</span>
					</td>
				</tr>
				
			</table>
			<table style="margin-top: 15px;">
				<thead>
					<tr>
						<td colspan="2"> OTROS </td>
					</tr>
				</thead>
				<tr>
					<td>
						<label for="">{{form.referencia_folder.label}}</label>
						{{form.referencia_folder}}
						<span>{{form.referencia_folder.errors}}</span>
					</td>
					<td rowspan="2">
						<label for="">{{form.observacion.label}}</label>
						{{form.observacion}}
						<span>{{form.observacion.errors}}</span>
					</td>
				</tr>
				<tr>
					<td style="text-align: center;">
						<label class="label-check-down" style="color:#fff;"  for="id_habilitado">
							{{form.habilitado.label}} {{form.habilitado}}
						</label>
						<span>{{form.habilitado.errors}}</span>
					</td>
				</tr>
			</table>
					
			<div class="botonera">
			 	<input type="submit" value="Guardar">
			</div>
		 
		</form>
	</div>
{%endblock%}
{%block delete%}
{%endblock%}
{%block sidebar%}

	<div class="botones" id="content-related">
	  <div class="module" id="recent-actions-module">
		<button class="submit-row" name="guardar">Guardar</button>
		<button class="guardar" name="guardar-edit">Guardar y continuar editando</button>
		<button class="guardar" name="guardar-add">Guardar y añadir otro</button>

		</div>
	</div>
{%endblock%}