{%extends 'base_site.html'%}
% load i18n admin_static %}
{% load staticfiles widget_tweaks %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}
 {% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'agregado-nuevo' %}">Inicio</a> > 
                  <li><a href="{%url 'ver-productor'%}">Productores</a></li> > 
                  <li>Añadir Productor</li>
                   
                    </li>
                </ul>
   {% endblock %}

{%block content%}
<!--
<div class="col-md-6">
				<form method="POST">{% csrf_token %}
					<div class="row">
						{% for field in form %}
						<div class="col-md-12">
							<div class="control-group">
								<label>{{ field.label }}</label>
								{% render_field field  %}
							</div>
						</div>
						{% endfor %}
					</div>
					<input type="submit" value="Guardar!" class="btn btn-success">
			
</div>-->
<form action="." method="POST">
	{%csrf_token%}

	<div id="formulario">
		<div class="campos" >
		<label for="id_rubro">{{form.nombre_o_razon_social.errors}}</label>
		<label for="id_rubro">{{form.nombre_o_razon_social.label|upper}}</label>{{form.nombre_o_razon_social}}
		</div>
		<div class="campos" >
		<label for="id_rubro">{{form.documentoId.errors}}</label>
		<label for="id_rubro">CI/RIF</label>{{form.documentoId}}
		</div>
		<div class="campos" >
		<label for="id_rubro">{{form.domicilio_fiscal.errors}}</label>
		<label for="id_rubro">{{form.domicilio_fiscal.label|upper}}</label>{{form.domicilio_fiscal}}
		</div>
		<div class="campos" >
		<label for="id_rubro">{{form.telefono.errors}}</label>
		<label for="id_rubro">{{form.telefono.label|upper}}</label>{{form.telefono}}
		</div>
		<div class="campos" >
		<label for="id_rubro">{{form.celular.errors}}</label>
		<label for="id_rubro">{{form.celular.label|upper}}</label>{{form.celular}}
		</div>
		<div class="campos" >
		<label for="id_rubro">{{form.referencia_folder.errors}}</label>
		<label for="id_rubro">{{form.referencia_folder.label|upper}}</label>{{form.referencia_folder}}
		</div>
		<div class="campos" >
		<label for="id_rubro">{{form.cuenta_bancaria.errors}}</label>
		<label for="id_rubro">{{form.cuenta_bancaria.label|upper}}</label>{{form.cuenta_bancaria}}
		</div>
		<div class="campos" >
		<label for="id_rubro">{{form.banco.errors}}</label>
		<label for="id_rubro">{{form.banco.label|upper}}</label>{{form.banco}}
		</div>
		<div class="campos" >
		<label for="id_rubro">{{form.tipo_cuenta.errors}}</label>
		<label for="id_rubro">{{form.tipo_cuenta.label|upper}}</label>{{form.tipo_cuenta}}
		</div>
		<div class="campos" >
		<label for="id_rubro">{{form.habilitado.errors}}</label>
		<label for="id_rubro">{{form.habilitado.label|upper}}</label>{{form.habilitado}}
		</div>
		<div class="campos" >
		<label for="id_rubro">{{form.observacion.errors}}</label>
		<label for="id_rubro">{{form.observacion.label|upper}}</label>{{form.observacion}}
		</div>


	</div>
			
 <br>
 <input type="submit" value="Guardar">
</form>


{%endblock%}
{%block delete%}
{%endblock%}
{%block sidebar%}

	<div class="botones" id="content-related">
	  <div class="module" id="recent-actions-module">
		<button class="submit-row" name="guardar">Guardar</button>
		<button class="guardar" name="guardar-edit">Guardar y continuar editando</button>
		<button class="guardar" name="guardar-add">Guardar y añadir otro</button>

		</div>
	</div>
{%endblock%}