{%extends 'base_site.html'%}



 

{% block extrastyle %}
  {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'agregado-nuevo' %}">Inicio</a> > 
                  <li><a href="{%url 'ver-rubro'%}">Rubros</a></li> > 
                  <li>Editar Rubros</li>
                  
                </ul>
   {% endblock %}
{%block content%}
<h4>{{info}}</h4>
<h1>Editar Rubro {{model.nombre|upper}}</h1>
<h4><a href="{%url 'add-rubro'%}">Añadir Nuevo+</a> </h4>

<h4><a href="{%url 'ver-rubro-variedades' model.pk %}">Ver Variedades+</a> </h4>
<h4><a href="{%url 'ver-rubro-tipo' model.pk%}">Ver Tipos+</a></h4>

<h1>Codigo En Sistema: {{model.codigo_en_sistema}}</h1>
{{cuenta.pk}}

<form action="." method="POST" enctype="multipart/form-data">
	{%csrf_token%}
	{%if perms.auth.acceso_empleado%}
	<table>
		<thead>
			<tr>
				<td>Nombre<label for="">{{formrubro.nombre.errors}}</label></td>
				<td>Nombre Cientifico<label for="">{{formrubro.nombre_cientifico.errors}}</label> </td>
				
			</tr>
		</thead>
		<tbody>
			
			<tr>
				<td>{{formrubro.nombre}}</td>
				<td>{{formrubro.nombre_cientifico}}</td>
				
			</tr>
		</tbody>

	</table>
	{%else%}
	<table>
		<thead>
			<th>
				<td>Nombre<label for="">{{formrubro.nombre.errors}}</label></td>
				<td>Nombre Cientifico<label for="">{{formrubro.nombre_cientifico.errors}}</label> </td>
				
			</th>
		</thead>
		<tbody>
			
			<th>
				<td><h4>{{model.nombre|upper}}</h4> </td>
				<td><h4> {{model.nombre_cientifico|upper}}</h4> </td>
				
			</th>
		</tbody>

	</table>
	{%endif%}

	<table>
		<tbody>
		<tr>
			<td>Tolerancia Humedad<label for="">{{formrubro.tolerancia_humedad.errors}}</label></td>
				<td>Diferencia Humedad<label for="">{{formrubro.diferencia_humedad.errors}}</label></td>
				<td>Tolerancia Impureza<label for="">{{formrubro.tolerancia_impureza.errors}}</label></td>
			</tr>
		</tbody>
		<thead>
		<tr>
			<td>{{formrubro.tolerancia_humedad}}</td>
			<td>{{formrubro.diferencia_humedad}}</td>
			<td>{{formrubro.tolerancia_impureza}}</td>
		</tr>
		</thead>
	</table>
	
	{%load staticfiles%}
	<img src="/media/{{model.foto}}" alt="" width="40px">
	{{formrubro.foto}}

<input type="submit" value='Guardar'>

</form>
<a href="/agregado/rubro/generar-csv/{{model.pk}}" class="btn btn-default">Guardar CSV</a>

{%endblock%}
{%block sidebar%}

	<div class="botones" id="content-related">
	  <div class="module" id="recent-actions-module">
		<button class="submit-row" name="guardar">Guardar</button>
		<button class="guardar" name="guardar-edit">Guardar y continuar editando</button>
		<button class="guardar" name="guardar-add">Guardar y añadir otro</button>

		</div>
	</div>
{%endblock%}