{%extends 'base_site.html'%}
{% block extrastyle %}
  {{ block.super }}
{% endblock %}
 {% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'agregado-nuevo' %}">Inicio</a> > 
                  <li><a href="{% url 'ver-rubro' %}">Rubro</a> > 
                  <li><a href="{% url 'edit-rubro' rubro.pk %}">{{rubro.nombre}}</a> > 

                  <li><a href="{%url 'ver-rubro-variedades' rubro.pk%}">Variedades</a></li> > 
                  <li>Editar Variedades</li>
                   
                    </li>
                </ul>
   {% endblock %}
{%block content%}
<span><a href="{%url 'ver-rubro'%}" class="btn btn-xs btn-success"> ir a rubro</a></span>
<span><a href="{%url 'add-rubro-variedades' rubro.pk%}" class="btn btn-xs btn-primary"> Añadir Variedades</a></span> <br>
<h1>Editar Variedades</h1>
<hr>
<h4>{{info}}</h4>
<form action="." method="POST" enctype="multipart/form-data">

		{%csrf_token%}
	

</script>

<h2>Editar Variedades</h2> <hr>
	<div id="formulario" >
		<div class="campos" >
		<label for="id_rubro">Rubro</label>
		<select name="rubro" id="rubro"> 
		<option value="0" selected="selected">{{rubro.nombre}}</option>
		</select>
		</div>
		<div class="campos" >
			<label for="id_rubro">{{form.nombre.errors}}</label>
		<label for="">{{form.nombre.label}}</label>{{form.nombre}}
		</div>
		<div class="campos" >
			<label for="id_rubro">{{form.descripcion.errors}}</label>
		<label for="">{{form.descripcion.label}}</label>{{form.descripcion}}
		</div>
	


	{%load staticfiles%}
<input type="submit" value='Guardar'>
</form>

{%endblock%}
{%block sidebar%}

	<div class="botones" id="content-related">
	  <div class="module" id="recent-actions-module">
		<button class="submit-row" name="guardar">Guardar</button>
		<button class="guardar" name="guardar-edit">Guardar y continuar editando</button>
		<button class="guardar" name="guardar-add">Guardar y añadir otro</button>

		</div>
	</div>
{%endblock%}