{%extends 'base_site.html'%}


{% block buscador %}{% endblock %}
 {% block breadcrumbs %}
                <div class="migas">
                	<ul class="breadcrumb">
                	  <li><a href="{% url 'agregado-nuevo' %}">Inicio</a> > 
                	  <li><a href="{%url 'ver-rubro'%}">Rubros</a></li> >
                	  <li><a href="{%url 'edit-rubro' rubro.pk %}">{{rubro.nombre|title}}</a></li> > 
                	
                	  <li>Tipo</li>
                	   
                	    </li>
                	</ul>
                </div>
   {% endblock %}
{%block content%}
<div id="content-main" style="width: 100%;">
	<div class="listado">
	<h2 class="titulo">Tipos de Rubro</h2>
		<nav>
			<ul>
				<li class="right"><a href="{%url 'add-rubro-tipo' rubro.pk%}">Añadir Tipo a {{rubro.nombre|upper}}</a></li>
			</ul>
		</nav>
		<section>
			<table>
				<thead>
					<tr>
					<td><input type="checkbox" id="action-toggle" form="nominal">	</td>
						<td>Rubro</td>
						<td>Tipo</td>
						<td>Descripcion</td>
					</tr>
				
				</thead>
				<tbody>
					{% if form|length > 0 %}
						{%for lista in form%}
							<tr>
							<td><input type="checkbox" class="action-select" name="seleccion" form="nominal" value="{{lista.pk}}"></td>
								<td><a href="{{lista.get_absolute_url}}">{{lista.rubro|title}}--</a></td>
								
									<td><a href="{{lista.get_absolute_url}}">{{lista.nombre|title}}</a></td>
									<td>{{lista.descripcion|title}}</td>
							</tr>
						{%endfor%}
					{% else %}
						<tr>
							<td colspan="4">No Hay Registros</td>
						</tr>
					{% endif %}
				</tbody>
			</table>
		</section>
	</div>
		</div>
{%endblock%}