{% extends "base_site.html" %}
{% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'agregado-nuevo' %}">Inicio</a> > 
                  <li><a href="{% url 'ver-nomina' %}">Nomina</a> > 

                 
                  <li>Ver Bonos de alimentacion Empleado</li>
                   
                    </li>
                </ul>
   {% endblock %}
{% block content %}
	<nav>
	<ul>
		<li><a href="{%url 'add-bono-alimentacion-empleado'%}">Añadir Bono</a></li>
		

	</ul>
	<ul>
	{% if valor %}
		<a href="{%url 'ver-productor-des'%}" class="btn btn-default">Ver Desabilitados</a>
		{% else %}
		<a href="{%url 'ver-productor'%}" class="btn btn-default">Ver Habilitados</a>

	{% endif %}

		<a href="{%url 'productores-lista-cvs'%}" class="btn btn-default">Guardar CVS</a>
		<a href="{%url 'productores-lista-pdf'%}" class="btn btn-danger">Guardar PDF</a>
		

	</ul>
</nav>


<h2>{{name|upper}}</h2> <hr>
<table class="table table-striped col-md-6">
		<thead>
			<tr>
			<td><input type="checkbox" id="action-toggle" form="nominal">	</td>
			<td>Codigo En sistema</td>
				<td>Fecha </td>
				<td>empleados</td>
				<td>Bono Mensual</td>
				<td>Bono Diario</td>
				<td>Dias Trabajados</td>
				<td>Total a Cobrar</td>

			</tr>

		</thead>
		<tbody>
		{%for lista in form%}
			<tr><td><input type="checkbox" class="action-select" name="seleccion" form="nominal" value="{{lista.pk}}"></td>
				<td>{{lista.nombre|title}} {{lista.apellido|title}}</td>
				<td><a href="{{lista.get_absolute_url}}">
				{{lista.fecha}}</a></td>
				<td>{{lista.empleados}}</td>
				<td>{{lista.bono_mensual}</td>
				<td>{{lista.bono_diario}}</td>

				<td>{{lista.dias_trabajados}}</td>
				<td>{{lista.total_a_cobrar}}</td>
			</tr>
		{%endfor%}

		</tbody>
	</table>


{% endblock content %}