{{%extends 'base_site.html'%}  
{% load i18n admin_static %}
{% load staticfiles widget_tweaks %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block buscador %}{% endblock %}

{% block breadcrumbs %}
   <div class="migas">
   	 	<ul class="breadcrumb">
   	 	 	<li><a href="{% url 'agregado-nuevo' %}"">Inicio</a>></li> 
   	 	 	<li><a href="{%url 'ver-ciclos'%}">Ver Ciclos</a>></li> 
   	  		<li>Agregar Ciclos</li>
   		</ul>
   </div>
{% endblock %}


{%block content%}
<div id="content-main">

	<h2 style="color:red;">{{info}}</h2>
	<h2 class="titulo" >Agregar Ciclos</h2> <hr>
	
	<script>
		var x= $(document);
		x.ready(inicio);
		
		function inicio(){
		    alert('funciono');
		    a= $('#id_fecha_de_inicio').attrs('type','date');
		    a.click(function(){alert('como estas')})*/
		  };
	</script>

	<form action="." method="POST">
	
	{%csrf_token%}
	
	
		<!-- <div id="" >
			<div class="" >
			<label for="">{{form.nombre.errors}}</label>
			<label for="">{{form.nombre.label}}</label>{{form.nombre}}
			</div>
			<div class="" >
				<label for="">{{form.fecha_de_inicio.errors}}</label>
			<label for="">{{form.fecha_de_inicio.label}}</label>{{form.fecha_de_inicio}}
			</div>
			<div class="" >
				<label for="">{{form.fecha_de_cierre.errors}}</label>
			<label for="">{{form.fecha_de_cierre.label}}</label>{{form.fecha_de_cierre}}
			</div>
			<div class="" >
				<label for="">{{form.habilitado.errors}}</label>
			<label for="">{{form.habilitado.label}}</label>{{form.habilitado}}
			</div>
		</div> -->

		<table>
			<tr>
				<thead>
					<tr>
						<td colspan="3">DATOS DE CICLO</td>
					</tr>
				</thead>
				<td >
					<label for="">{{form.nombre.label}}</label>
					{{form.nombre}}
					<span>{{form.nombre.errors}}</span>
				</td>
				<td >
					<label style="padding: 6px; color:#fff; text-align: center; margin-top:20px; background-color: rgba(0,0,0,0.2);" for="">{{form.habilitado.label}} {{form.habilitado}}</label>
					
					<span>{{form.habilitado.errors}}</span>
				</td>
			</tr>
			<tr>
				<td >
					<label for="">{{form.fecha_de_inicio.label}}</label>
					{{form.fecha_de_inicio}}
					<span>{{form.fecha_de_inicio.errors}}</span>
				</td>
				<td >
					<label for="">{{form.fecha_de_cierre.label}}</label>
					{{form.fecha_de_cierre}}
					<span>{{form.fecha_de_cierre.errors}}</span>
				</td>
			</tr>
		</table>
		
		<div class="botonera">
			<input type="submit" value='Guardar'>
		</div>
	</form>
</div>
{%endblock%}
{%block delete%}
{%endblock%}
{%block sidebar%}

	<div class="botones" id="content-related">
	  <div class="module" id="recent-actions-module">
		<input type="submit" class="submit-row" name="guardar" form="variedad" value="Guardar">
		<button class="guardar" name="guardar-edit">Guardar y continuar editando</button>
		<button class="guardar" name="guardar-add">Guardar y añadir otro</button>

		</div>
	</div>
{%endblock%}