{%extends 'base_site.html'%}
{% block extrastyle %}
  {{ block.super }}
{% endblock %}
 {% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'agregado-nuevo' %}">Inicio</a> > 
                  <li><a href="{%url 'ver-presiox-ciclo' model.ciclo.pk %}">Ver Precios</a></li> > 
                  <li>Editar Precios</li>
                   
                    </li>
                </ul>
   {% endblock %}
{%block content%}
{% load humanize %}
<h4>{{info}}</h4>
<h2>Editar Precio de ciclo</h2> <hr>
<form action="." method="POST" enctype="multipart/form-data">

		{%csrf_token%}

	{{form.as_p}}

	{%load staticfiles%}
<input type="submit" value='Guardar'>
</form>

{%endblock%}
{%block sidebar%}

	<div class="botones" id="content-related">
	  <div class="module" id="recent-actions-module">
		<button class="submit-row" name="guardar">Guardar</button>
		<button class="guardar" name="guardar-edit">Guardar y continuar editando</button>
		<button class="guardar" name="guardar-add">Guardar y añadir otro</button>

		</div>
	</div>
{%endblock%}