{%extends 'base_site.html'%}5
{% block extrastyle %}
  {{ block.super }}
{% endblock %}
 {% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'agregado-nuevo' %}">Inicio</a> > 
                  <li><a href="{%url 'ver-rubro-relacion'%}">Relacion</a></li> > 
                  <li>Editar Relacion</li>
                   
                    </li>
                </ul>
   {% endblock %}
{%block content%}
<h4>{{info}}</h4>
<form action="." method="POST" enctype="multipart/form-data">

		{%csrf_token%}

	{%csrf_token%}
	<script>
	$(document).ready(iniciar);
	function iniciar() {
		var inicio;
		$('option[selected=selected]').html('*********{{model.rubro}}**********')
		$('#id_nombre').attr('value','{{model.nombre}}')
		$('textarea').html('{{model.descripcion}}')
      

		// body...
	}

</script>

<h2>Editar relaciones de Rubro</h2> <hr>
	<div id="formulario" >
		<div class="campos" >
		<label for="id_rubro">{{form.rubro.errors}}</label>
		<label for="id_rubro">{{form.rubro.label}}</label>{{form.rubro}}
		</div>
		<div class="campos" >
			<label for="id_rubro">{{form.nombre.errors}}</label>
		<label for="">{{form.nombre.label}}</label>{{form.nombre}}
		</div>
		<div class="campos" >
			<label for="id_rubro">{{form.descripcion.errors}}</label>
		<label for="">{{form.descripcion.label}}</label>{{form.descripcion}}
		</div>
	


	{%load staticfiles%}
<input type="submit" value='Guardar'>
</form>

{%endblock%}
{%block sidebar%}

	<div class="botones" id="content-related">
	  <div class="module" id="recent-actions-module">
		<button class="submit-row" name="guardar">Guardar</button>
		<button class="guardar" name="guardar-edit">Guardar y continuar editando</button>
		<button class="guardar" name="guardar-add">Guardar y añadir otro</button>

		</div>
	</div>
{%endblock%}