{%extends 'base_site.html'%}  
{% load i18n admin_static %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block buscador %}{% endblock %}

{% block breadcrumbs %}
	<div class="migas">
		<ul class="breadcrumb">
		  <li><a href="{% url 'agregado-nuevo' %}">Inicio</a> > </li>
		  <li><a href="{%url 'ver-despacho'%}">Ver Despacho</a> > </li> > 
		  <li>Agregar Despacho</li>
		</ul>
	</div>
{% endblock %}
{%block content%}
<div id="content-main">
	<h2 style="color:red;">{{info}}</h2>
	<h2 class="titulo ">AGREGAR DESPACHO</h2>
	
	<form action="." method="POST" enctype="multipart/form-data">
		
		{%csrf_token%}
			<table>
				<thead>
					<tr>
						<td colspan="3">DESCRIPCIÓN DEL PRODUCTO</td>
					</tr>
				</thead>
				<tr>
					<td style="width: 33%;">
						<label for="">{{form.producto.label}}</label>
						{{form.producto}}
						<span>{{form.producto.errors}}</span>
					</td>
					<td style="width: 33%;">
						<label for="">{{form.variedad.label}}</label>
						{{form.variedad}}
						<span>{{form.variedad.errors}}</span>
					</td>
					<td style="width: 33%;">
						<label for="">{{form.tipo.label}}</label>
						{{form.tipo}}
						<span>{{form.tipo.errors}}</span>
					</td>
				</tr>
				</table>
				<table style="margin-top: 15px;">
					<thead>
						<tr>
							<td colspan="2">DATOS CLIENTE</td>
						</tr>
					</thead>
					<tr>
						<td>
							<label for="">{{form.cliente.label}}</label>
							{{form.cliente}}
							<span>{{form.cliente.errors}}</span>
						</td>
						<td>
							<label for="">{{form.dirigido_a.label}}</label>
							{{form.dirigido_a}}
							<span>{{form.dirigido_a.errors}}</span>
						</td>
					</tr>
				</table>
				<table style="margin-top: 15px;">
					<thead>
						<tr>
							<td colspan="3">DATOS DE ENTREGA</td>
						</tr>
					</thead>
					<tr>
						<td style="width: 33%;">
							<label for="">{{form.cantidad_en_Kg.label}}</label>
							{{form.cantidad_en_Kg}}
							<span>{{form.cantidad_en_Kg.errors}}</span>
						</td>
						<td style="width: 33%;">
							<label for="">{{form.precio.label}}</label>
							{{form.precio}}
							<span>{{form.precio.errors}}</span>
						</td>
						<td style="width: 33%;">
							<label for="">{{form.fecha_salida.label}}</label>
							{{form.fecha_salida}}
							<span>{{form.fecha_salida.errors}}</span>
						</td>
					
					</tr>
					<tr>
						
						<td style="width: 33%;">
							<label for="">{{form.tipo_vehiculo.label}}</label>
							{{form.tipo_vehiculo}}
							<span>{{form.tipo_vehiculo.errors}}</span>
						</td>
						<td style="width: 33%;">
							<label for="">{{form.placa.label}}</label>
							{{form.placa}}
							<span>{{form.placa.errors}}</span>
						</td>
						<td style="width: 33%;">
							<label for="pagado" class="label-check-down" style="color: #fff">
								Pagado<input type="checkbox" id="pagado" name="pagado">
							</label>
						</td>
					</tr>
					
				</table>
				<table style="margin-top:15px;">
					<thead>
						<tr>
							<td colspan="3">DATOS DE RFERENCIA </td>
						</tr>
					</thead>
					<tr>
						<td style="width:33%;">
							<label for="">{{form.planta.label}}</label>
							{{form.planta}}
							<span>{{form.planta.errors}}</span>
						</td>
						<td style="width:33%;">
							<label for="">{{form.silo.label}}</label>
							{{form.silo}}
							<span>{{form.silo.errors}}</span>
						</td>
						<td style="width:33%;">
							<label for="">{{form.referencia_folder.label}}</label>
							{{form.referencia_folder}}
							<span>{{form.referencia_folder.errors}}</span>
						</td>
					</tr>
				</table>
				<table style="margin-top:15px;">
					<thead>
						<tr>
							<td colspan="3">RESULTADO DE ANÁLISIS</td>

						</tr>
					</thead>
					<tr>
						<td style="width:33%;">
							<label for="">{{form.humedad.label}}</label>
							{{form.humedad}}
							<span>{{form.humedad.errors}}</span>
						</td>
						<td style="width:33%;">
							<label for="">{{form.impureza.label}}</label>
							{{form.impureza}}
							<span>{{form.impureza.errors}}</span>
						</td>
						<td style="width:33%;">
							<label for="">{{form.granos_partidos.label}}</label>
							{{form.granos_partidos}}
							<span>{{form.granos_partidos.errors}}</span>
						</td>
					</tr>
					<tr>
						<td style="width:33%;">
							<label for="">{{form.granos_danados_totales.label}}</label>
							{{form.granos_danados_totales}}
							<span>{{form.granos_danados_totales.errors}}</span>
						</td>
						<td style="width:33%;">
							<label for="">{{form.temperatura_promedio.label}}</label>
							{{form.temperatura_promedio}}
							<span>{{form.temperatura_promedio.errors}}</span>
						</td>
						<td style="width:33%;">
							<label for="">{{form.otros.label}}</label>
							{{form.otros}}
							<span>{{form.otros.errors}}</span>
						</td>
					</tr>
					
				</table>
				<table style="margin-top:15px;">
					<thead>
						<tr>
							<td colspan="2">OTROS</td>
						</tr>
					</thead>
					<tr>
						<td>
							<label for="">{{form.despachado_por.label}}</label>
							{{form.despachado_por}}
							<span>{{form.despachado_por.errors}}</span>
						</td>
						<td>
							<label for="">{{form.observacion.label}}</label>
							{{form.observacion}}
							<span>{{form.observacion.errors}}</span>
						</td>

					</tr>
				</table>
		
		<div class="botonera">
			<input type="submit" value='Guardar'>
		</div>

	</form>
	</div>
{%endblock%}
{%block delete%}
{%endblock%}
{%block sidebar%}

	<div class="botones" id="content-related">
	  <div class="module" id="recent-actions-module">
		<input type="submit" class="submit-row" name="guardar" form="variedad" value="Guardar">
		<button class="guardar" name="guardar-edit">Guardar y continuar editando</button>
		<button class="guardar" name="guardar-add">Guardar y añadir otro</button>

		</div>
	</div>
{%endblock%}