{%extends 'base_site.html'%}  
% load i18n admin_static %}
{% block extrastyle %}
  {{ block.super }}
{% endblock %}
{% block breadcrumbs %}
				<ul class="breadcrumb">
				  <li><a href="{% url 'agregado-nuevo' %}">Inicio</a> > 
				  <li><a href="{%url 'ver-despacho'%}">Ver Despacho</a></li> > 
				  <li>Agregar Ingreso </li>
				   
					</li>
				</ul>
   {% endblock %}
{%block content%}
<h2 style="color:red;">{{info}}</h2>
<h2>Agregar Ingreso</h2> <hr>
<form action="." method="POST" enctype="multipart/form-data">

{%csrf_token%}


	<div id="formulario" >
	<div class="campos-pago" >pasa a post
			<label>{{form.despacho.errors}}</label>
		<label >{{form.despacho.label}}</label>{{form.despacho}} 

		<label>{{form.precio.errors}}</label>
		<label >{{form.precio.label}}</label>{{form.precio}} 
		<label>{{form.impuestos.errors}}</label>
		<label >{{form.impuestos.label}}</label>{{form.impuestos}} 
		<label>{{form.pago.errors}}</label>
		<label >{{form.pago.label}}</label>{{form.pago}} 
		</div>


		</div>
	
	
<input type="submit" value='Guardar'>
<style>
	input #cantidad_en_Kg{
		border: 4px solid;
	}
	#cantidad_en_Kg{
		border: 12px;
	}
</style>
</form>


{%endblock%}
{%block sidebar%}

	<div class="botones" id="content-related">
	  <div class="module" id="recent-actions-module">
		<input type="submit" class="submit-row" name="guardar" form="variedad" value="Guardar">
		<button class="guardar" name="guardar-edit">Guardar y continuar editando</button>
		<button class="guardar" name="guardar-add">Guardar y añadir otro</button>

		</div>
	</div>
{%endblock%}