
{%extends 'base_site.html'%}
 {% block breadcrumbs %}
                <ul class="breadcrumb">
                  <li><a href="{% url 'agregado-nuevo' %}">inicio</a> >  
                  <li><a href="#">Despacho</a></li>
                   
                    </li>
                </ul>
   {% endblock %}
{%block content%}
<h3>	<a href="{%url 'add-despacho'%}">Añadir Despachos +</a></h3>
<h3>	<a href="{%url 'ver-cuentasx-cobrar'%}">Ver Cuentas Por Pagar</a></h3>


</nav>

<h2>Despachos</h2> <hr>
<nav>
<ul class="breadcrumb">
	{%for i in date_list%}
	<li><a href="{%url 'despachos_anuales' i.year%}">{{i.year}}</a></li> |
	{%endfor%}</ul>
</nav>
<hr>
<table class="table table-striped col-md-6">

		<thead>
			<tr><td> <input type="checkbox" id="action-toggle" form="select-despacho"></td>
				<td>NO CONTROL</td>
				<td>Producto</td>
				<td>Ciclo</td>
				<td>Cliente</td>
				<td>CANTIDAD</td>
				<td>FECHA DE SALIDA</td>



			</tr>
	
		</thead>
		<tbody>
		{%for lista in form%}
			<tr>
			<td><input type="checkbox" class="action-select" name="seleccion" form="select-despacho" value="{{lista.pk}}">
					<td><a href="{{lista.get_absolute_url}}">{{lista.codigo_en_sistema}}</a></td>
					<td>{{lista.producto|upper}}({{lista.variedad.nombre|upper}}-{{lista.tipo.nombre|upper}})  </td>
					
					<td>{{lista.ciclo_asociado|upper}}</td>
					
					<td>{{lista.cliente.nombre_o_razon_social|upper}}</td>

					<td>{{lista.cantidad_en_Kg}} kg. </td>
					<td>{{lista.fecha_salida|date:"d/m/y - h:m"}}</td>
			</tr>
		{%endfor%}
		</tbody>
	</table>
{%endblock%}

{%block delete%}
<form action="." method="POST" id="select-despacho">  {%csrf_token%}
	<select name="lista-pdf" id="lista-pdf" form="select-despacho">
	<option value="selected"> ----------</option>
		<option value="lista-selected">Guardar Lista</option>
	</select>
	<input type="submit" value="Guardar" form="select-despacho">
</form>
{%endblock%}